<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

     <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h2>Qual o tamanho que sua senha deve ter?*</h2>
                    <br />
                    <br />
                    <form action="/randomize" method="post">
						<div class="input-group col-lg-6" >
							<input type="text" class="form-control" placeholder="32" name="numero1" id="txtQuantidade" >
							<span class="input-group-btn">
							<button class="btn btn-default" type="submit" id="btnGerarSenha">Gerar Senha</button>
							</span>
						</div><!-- /input-group -->
					</form>
					<br />
					<br />
					<br />
					<p class="warning">* Se você não especificar, será gerada uma senha de 32 caracteres.</p>
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well">
                    <% if(typeof(resultado) != 'undefined') { %>
						<h3>Esta é a sua senha</h3>
						<p id="senhaGerada"><%= resultado %></p>
                        <br />
                        <br />
                        
                        <br />
                        <br />

                        <p>Que tal guardar esta senha super simpática? Preencha os campos abaixo e não se preoupe em lembrá-la. É só procurá-la no seu e-mail!</p>
                        <br />
                        <form action="/enviar" method="post">
                            <input type="hidden" value="<%= resultado %>" name="senha">
                            <input type="text" class="form-control" placeholder="Qual o seu nome?" name="nome" >
                            <br />
                            <input type="text" class="form-control" placeholder="Esta senha será para qual site?" name="site" >
                            <br />
                            <input type="text" class="form-control" placeholder="voce@email.com" name="email" >
                            <br />
                            <button class="btn btn-default" type="submit">Envie para o meu e-mail!</button>
                        </form>
					<% } %>

                    <% if(typeof(success) != 'undefined') { %>
                        <h3><%= success %></h3>
                    <% } %>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include footer %>
    </footer>
    
</body>
</html>


