<meta charset="UTF-8">
<title>Gerador de Senhas</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    	{ padding-top: 20px; }
    .jumbotron	{ padding-top: 10px; padding-bottom: 10px; text-align: justify; }
    .well		{ padding-top: 10px; padding-bottom: 10px; word-wrap: break-word; }
    p.warning	{ color: #B72025; font-size: 12px;}
</style>