<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Gerador de Senhas =)</h1>
            <br />
            <br />
			<p>Uma senha grande e sem vínculo com dados pessoais como datas de nascimento ou trechos de seus nomes pode garantir aos usuários de serviços online mais tranquilidade diante de crimes virtuais. Ter uma senha considerada forte pelos especialistas é a principal dica que empresas de segurança digital sugerem aos internautas que utilizam os mais variados serviços de e-mail, sites e redes sociais.</p>
			<p>Utilize este serviço para gerar senhas aleatórias, fortes, seguras e difíceis de serem descobertas. É um serviço simples e pode ser muito útil quando você está sem criatividade para criar suas senhas. </p>
			<br />
			<h3><a href="/gerar">Crie uma senha pra mim!</a></h3>
			<br />
        </div>
    </main>

    <footer>
        <% include footer %>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-64707387-1', 'auto');
      ga('send', 'pageview');
    
    </script>
</body>
</html>
