<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Sobre o Gerador</h1>
            <br />
            <p>O intuito deste projeto é aprender tecnologias de desenvolvimento que permitem à equipe construir aplicativos sólidos, testáveis e escaláveis, através da entrega contínua e de estatísticas que refletem a qualidade do projeto.</p>
            <h3>Tecnologias Utilizadas:</h3>
            <ul>
                <li>Linguagem Server-Side: Node.js.</li>
                <li>Controle de Versionamento: GitHub.</li>
                <li>Servidor de Integração Contínua: Travis-CI.</li>
                <li>Cloud PaaS: Heroku.</li>
                <li>Framework de Testes Unitários: Mocha.</li>
                <li>Testes End To End Automatizados: Protractor.</li>
                <li>Cobertura de Códigos: Coveralls.</li>
                <li>Container de Dependências: Docker.</li>
            </ul>
            <h3>Alguns (somente alguns) links de referência:</h3>
            <ul>
                <li><a href="https://help.github.com/articles/generating-ssh-keys/#step-4-add-your-ssh-key-to-your-account" target="_blank">GitHub</a></li>
                <li><a href="http://docs.travis-ci.com/user/build-configuration/#The-Build-Matrix" target="_blank">Travis</a></li>
                <li><a href="http://cwbuecheler.com/web/tutorials/2013/node-express-mongo/" target="_blank">Tutorial Node.js e Mongo</a></li>
                <li><a href="https://www.npmjs.com/package/randomstring" target="_blank">Módulo para geração de strings randômicas</a></li>
                <li><a href="http://www.marcioalthmann.net/2014/01/tdd-e-node-js-introducao-ao-mocha/" target="_blank">Introdução ao Mocha</a></li>
                <li><a href="https://www.airpair.com/docker/posts/introducao-ao-docker-para-o-desenvolvedor-nodejs#pr-ximo-post-adicionando-docker-a-uma-aplica-o-existente-executando-e-conectando-containers" target="_blank">Introdução ao Docker</a></li>
                <li><a href="http://www.pinceladasdaweb.com.br/blog/2013/03/01/como-fazer-deploy-de-apps-para-o-heroku/" target="_blank">Como fazer deploy de aplicações no Heroku</a></li>
                <li><a href="https://scotch.io/tutorials/use-ejs-to-template-your-node-application" target="_blank">Engine HTML EJS</a></li>
                <li><a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
                <li><a href="https://lricoy.wordpress.com/2015/02/12/iniciando-com-angular-e-nodeexpress-do-0-ao-deploy-em-5-passos/" target="_blank">Do 0 ao deploy automatizado em 5 passos</a></li>
                <li><a href="http://adilapapaya.com/docs/nodemailer/" target="_blank">Enviando e-mails com Nodemailer</a></li>
                <li><a href="http://www.ng-newsletter.com/posts/practical-protractor.html" target="_blank">Protractor na prática</a></li>
                <li><a href="https://coveralls.io/" target="_blank">Coveralls</a></li>
            </ul>
            <h3>Repositório no GitHub</h3>
            <a href="https://github.com/CarlosTWMF/geradordesenhas" target="_blank">Github</a>
            <h3>Aplicação no Heroku</h3>
            <a href="https://geradordesenhas.herokuapp.com/" target="_blank">Gerador de Senhas</a>

            

        </div>
    </main>

    <footer>
       <p class="text-center text-muted">VII Projeto Integrador do Curso de Sistemas de Informação do Unipam (Centro Universitário de Patos de Minas) sob tutoria do Professor Filipe Guelber</p>
    </footer>
    
</body>
</html>